:root {
  --color-primary: #fabc32;
  --color-primary-dark: #ffae00ec;
  --text-white-color: #ffffff;
  --text-blue-color: #3ebaea;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

header {
  position: relative;
  height: 100vh;
}

.header__particle {
  position: absolute;
  background: radial-gradient(
    circle,
    rgba(62, 186, 234, 1) 0%,
    rgba(8, 24, 30, 1) 100%,
    rgba(0, 0, 0, 1) 100%
  );
  height: 100%;
  width: 100%;
}

.header__nav {
  position: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--text-white-color);
}

.nav__list {
  display: flex;
  font-size: 1.8rem;
}
.list-items {
  list-style: none;
  margin-right: 3.7rem;
}

a {
  color: var(--text-white-color);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary);
}

.btn-whitepaper {
  background: var(--color-primary);
  border: none;
  border-radius: 50px;
  box-shadow: 0px 4px 15px rgba(49, 50, 18, 0.64);
  color: var(--text-white-color);
  cursor: pointer;
  font-size: 20px;
  height: 4.2rem;
  outline: none;
  transition: 0.5s;
  width: 151px;
}

.btn-whitepaper:hover {
  background: var(--color-primary-dark);
  transition: 0.5s;
}

.fab {
  font-size: 25px;
  margin-right: 15px;
}

.fab:hover {
  color: var(--color-primary);
}

.header__hero {
  position: inherit;
  color: var(--text-white-color);
  display: flex;
  font-size: 1.8rem;
  padding: 50px;
  flex-wrap: wrap;
}

.hero__description {
  width: 60rem;
}

hr {
  width: 18rem;
  border: 2px solid var(--color-primary);
}

h3,
p {
  margin-bottom: 20px;
}

.hero__description-btnWhite {
  background: var(--color-primary);
  border: none;
  border-radius: 50px;
  box-shadow: 0px 4px 15px rgba(49, 50, 18, 0.64);
  color: var(--text-white-color);
  cursor: pointer;
  font-size: 20px;
  height: 4.2rem;
  outline: none;
  transition: 0.5s;
  width: 151px;
}

.hero__description-btnWhite:hover {
  background-color: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  transition: 0.5s;
}

.hero__description-btnMore {
  background: transparent;
  border: 1px solid white;
  border-radius: 50px;
  box-shadow: 0px 4px 15px rgba(49, 50, 18, 0.64);
  color: var(--text-white-color);
  cursor: pointer;
  font-size: 20px;
  height: 4.2rem;
  margin-left: 20px;
  outline: none;
  transition: 0.5s;
  width: 151px;
}

.hero__description-btnMore:hover {
  background-color: var(--text-white-color);
  border: none;
  color: var(--text-blue-color);
  transition: 0.5s;
}

.header__hero__hero {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 50%;
}

.heroImg {
  height: 46rem;
}

.project {
  height: 30vh;
}

.app {
  height: 30vh;
}

.token {
  height: 30vh;
}

.roadmap {
  padding: 5rem;
  background: radial-gradient(
    85.98% 85.98% at 56.82% 56.1%,
    #76d9ff 0%,
    #1683ad 91.67%
  );
}
