:root {
  --color-primary: #fabc32;
  --color-primary-dark: #ffae00ec;
  --text-white-color: #ffffff;
  --text-blue-color: #3ebaea;
  --text-gray-color: #7a7a7a;
  --color-background-gray: #f1f1f1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1.8rem;
  overflow-x: hidden;
}

header {
  position: relative;
  height: 100vh;
}

.header__particle {
  position: absolute;
  background: radial-gradient(
    circle,
    rgba(62, 186, 234, 1) 0%,
    rgba(8, 24, 30, 1) 100%,
    rgba(0, 0, 0, 1) 100%
  );
  height: 100%;
  width: 100%;
}

.header__nav {
  align-items: center;
  color: var(--text-white-color);
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
  position: inherit;
  /* position: fixed;
  left: 0;
  right: 0;
  top: 0; */
}

.nav__list {
  display: flex;
  font-size: 1.8rem;
}

.list-items {
  list-style: none;
  margin-right: 3.7rem;
  transition: 0.5s;
}

.list-items:hover {
  transition: 0.5s;
  border-bottom: 1px solid var(--color-primary);
}

a {
  color: var(--text-white-color);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary);
}

.btn-whitepaper {
  background: var(--color-primary);
  border: none;
  border-radius: 50px;
  box-shadow: 0px 4px 15px rgba(49, 50, 18, 0.64);
  color: var(--text-white-color);
  cursor: pointer;
  font-size: 2rem;
  height: 4.2rem;
  outline: none;
  transition: 0.5s;
  width: 151px;
}

.btn-whitepaper:hover {
  background: var(--color-primary-dark);
  transition: 0.5s;
}

.nav__icons i {
  font-size: 2.5rem;
  margin-right: 15px;
  color: var(--text-white-color);
}

.nav__icons i:hover {
  color: var(--color-primary);
}

.header__hero {
  position: inherit;
  color: var(--text-white-color);
  display: flex;
  font-size: 1.8rem;
  padding: 50px;
  flex-wrap: wrap;
}

.hero__description {
  width: 50%;
}

hr {
  width: 18rem;
  border: 2px solid var(--color-primary);
}

h3,
p {
  margin-bottom: 20px;
}

.hero__description-btnWhite {
  background: var(--color-primary);
  border: none;
  border-radius: 50px;
  box-shadow: 0px 4px 15px rgba(49, 50, 18, 0.64);
  color: var(--text-white-color);
  cursor: pointer;
  font-size: 2rem;
  height: 4.2rem;
  outline: none;
  transition: 0.5s;
  width: 15.1rem;
}

.hero__description-btnWhite:hover {
  background-color: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  transition: 0.5s;
}

.hero__description-btnMore {
  background: transparent;
  border: 1px solid white;
  border-radius: 50px;
  box-shadow: 0px 4px 15px rgba(49, 50, 18, 0.64);
  color: var(--text-white-color);
  cursor: pointer;
  font-size: 2rem;
  height: 4.2rem;
  margin-left: 20px;
  outline: none;
  transition: 0.5s;
  width: 15.1rem;
}

.hero__description-btnMore:hover {
  background-color: var(--text-white-color);
  border: none;
  color: var(--text-blue-color);
  transition: 0.5s;
}

.header__hero__hero {
  align-items: center;
  display: flex;
  justify-content: center;
  min-width: 400px;
  width: 50%;
}

.heroImg {
  height: 46rem;
  width: 43rem;
}

.project {
  background-color: var(--color-background-gray);
  font-size: 1.8rem;
}

.project__content {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.8rem;
  justify-content: space-around;
  padding: 90px 50px;
}

.project__content__fixtoken {
  width: 50%;
}

.project__content__image {
  align-items: center;
  display: flex;
  justify-content: center;
  min-width: 30rem;
}

.project__content__image-img {
  height: 20rem;
  width: 20rem;
}

.project-title {
  color: var(--text-blue-color);
}

.project__cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project__cards__section {
  background-color: var(--text-white-color);
  width: 32rem;
  height: 50rem;
  border-radius: 20px;
  padding: 40px;
  margin: 0 35px 60px 0;
  text-align: center;
  box-shadow: 0px 4px 15px rgb(49 50 18 / 64%);
}

.cards__section-img {
  margin-bottom: 20px;
}

.cards__section-title {
  font-size: 22px;
  color: var(--text-blue-color);
}

.app {
  height: fit-content;
  background-image: url(./utils/background_howitworks.jpg);
  color: var(--text-white-color);
  padding: 90px 50px 0 50px;
}

.app__content {
  display: flex;
  justify-content: space-between;
}

.app__content__description {
  width: 50%;
}

.app__content__description > h2 {
  margin-bottom: 20px;
}

.app__content__image {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  width: 300px;
}

.app__content__image > img {
  width: 30rem;
  height: 50rem;
}

.app__phones {
  display: flex;
  justify-content: center;
}

.app__phones > img {
  height: 500px;
  width: 500px;
  position: relative;
}

.phone-left {
  top: 8rem;
  right: -5rem;
  z-index: 1;
}

.phone-right {
  left: -50px;
  top: 75px;
}

.token {
  align-items: center;
  background-color: var(--color-background-gray);
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 200px 50px 0 50px;
}

.token__manual {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 55px;
  width: 500px;
}

.token__manual > h2 {
  color: var(--text-blue-color);
}

.token__info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 50px;
  width: 100%;
}

.token__info > div > h4 {
  color: var(--text-blue-color);
  position: relative;
  left: -15px;
}

.token__info > div > h4::before {
  content: url("./utils/DOT.svg");
  position: relative;
  left: -10px;
}

.token__info__buttons {
  display: flex;
  flex-direction: column;
}

.input {
  border-radius: 20px;
  border: 1px solid #9a9a9a;
  font-size: 1.5rem;
  height: 115px;
  outline: none;
  padding: 10px;
  width: 320px;
}

.token__info__buttons > a {
  background: var(--color-primary);
  border: none;
  border-radius: 50px;
  color: var(--text-white-color);
  cursor: pointer;
  font-size: 1.8rem;
  height: 6rem;
  margin-top: 20px;
  outline: none;
  transition: 0.5s;
  width: 220px;
  padding: 15px 10px;
  text-align: center;
}

.token__info__buttons > a:hover {
  background: var(--color-primary-dark);
  transition: 0.5s;
}

span {
  color: var(--text-blue-color);
  font-weight: 600;
}

.roadmap {
  background-image: url("./utils/background_ROADMAP.jpg");
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 90px 50px 0px;
  height: fit-content;
}

.roadmap__phrase {
  color: var(--text-white-color);
  width: 30%;
}

/* timeline */

.timeline {
  position: relative;
  width: 70%;
  min-width: 450px;
  padding: 15px 0;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background: var(--text-white-color);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  position: relative;
  width: 50%;
}

.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}

.container::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: var(--text-white-color);
  border: 2px solid var(--color-primary);
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  font-size: 14px;
  color: var(--text-white-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .date {
  right: -120px;
}

.container.right .date {
  left: -120px;
}

.container.right .content {
  padding: 30px 30px 30px 20px;
}

.container.left {
  padding: 30px 30px 30px 20px;
  text-align: right;
}

.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 1.8rem;
  font-weight: 700px;
  color: var(--text-white-color);
}

.container .content p {
  margin: 0;
  font-size: 1.5rem;
  line-height: 22px;
  color: var(--text-white-color);
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 120px;
  }

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after,
  .container.right::after {
    left: 110px;
  }

  .container.left::before,
  .container.right::before {
    left: 100px;
    border-color: transparent #006e51 transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 1px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 146px;
  }

  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}

/* timeline */

footer {
  background-color: var(--color-background-gray);
  padding: 70px 70px;
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  height: fit-content;
  color: var(--text-gray-color);
}

.footer__content h2 {
  color: var(--text-blue-color);
}

.footer__content a {
  color: var(--text-gray-color);
}

.footer__content a:hover {
  color: var(--color-primary);
}

.footer__content__about {
  /* width: 40%; */
  min-width: 17.2rem;
}

.footer__content__links {
  width: 20%;
  min-width: 200px;
}

.footer__content__links > ul > li {
  list-style: none;
}

.footer__content__support {
  width: 20%;
  min-width: 200px;
}

.footer__content__support > ul > li {
  list-style: none;
}

.footer__content__follow {
  width: 20%;
  min-width: 200px;
}

.footer__content__follow .fa-tiktok,
.fa-twitter,
.fa-telegram-plane,
.fa-instagram {
  color: var(--text-gray-color);
  margin: 8px;
  font-size: 25px;
}

.footer__content__follow .fa-tiktok:hover,
.fa-twitter:hover,
.fa-telegram-plane:hover,
.fa-instagram:hover {
  color: var(--color-primary);
}

.footer__img {
  display: flex;
  align-items: center;
}

.small {
  font-size: 1.2rem;
  margin: 0 auto;
  text-align: center;
}

/* ********************************* */
/* MEDIA QUERIES */
/* ********************************* */

@media (max-width: 1024px) {
  .header__nav {
    font-size: 1.4rem;
    justify-content: space-evenly;
  }

  .btn-whitepaper {
    font-size: 1.4rem;
    height: 4rem;
    width: 11rem;
  }

  .list-items {
    margin-right: 2rem;
  }

  .heroImg {
    height: 36rem;
    width: 33rem;
  }

  .app__phones > img {
    height: 45rem;
    width: 45rem;
  }

  .phone-left {
    top: 6rem;
    right: -3rem;
    z-index: 1;
  }

  .phone-right {
    left: -5rem;
    top: 5.5rem;
  }

  .token__info {
    justify-content: space-around;
  }

  .token__info__buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }

  .footer__content {
    font-size: 1.4rem;
  }

  .footer__content__about {
    width: 30%;
  }
}

@media (max-width: 834px) {
  body {
    overflow-x: hidden;
  }

  .header {
    height: fit-content;
  }
  .header__hero {
    display: flex;
    flex-direction: column;
  }

  hr {
    width: 14rem;
  }

  .hero__description {
    font-size: 1.4rem;
    width: 100%;
  }

  .header__hero__hero {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .description__btns {
    display: flex;
    justify-content: center;
  }

  .hero__description-btnWhite {
    font-size: 1.4rem;
    width: 12.1rem;
  }

  .hero__description-btnMore {
    font-size: 1.4rem;
    width: 12.1rem;
  }

  .heroImg {
    height: 36rem;
    width: 33rem;
  }

  .project__content__fixtoken {
    font-size: 1.3rem;
  }

  .project__content__image-img {
    width: 18rem;
    height: 18rem;
  }

  .project__cards__section {
    font-size: 1.4rem;
    width: 26rem;
    height: 44rem;
  }

  .cards__section-title {
    font-size: 1.8rem;
  }

  .app__content__description {
    font-size: 1.4rem;
  }

  .app__content__image {
    font-size: 1.6rem;
  }

  .app__content__image > img {
    width: 25rem;
    height: 45rem;
  }

  .app__phones > img {
    height: 40rem;
    width: 40rem;
  }

  .phone-left {
    top: 5rem;
    right: -3rem;
    z-index: 1;
  }

  .phone-right {
    left: -5rem;
    top: 5.5rem;
  }

  .token {
    font-size: 1.4rem;
  }

  .token__info__buttons > a {
    font-size: 1.4rem;
    height: 5rem;
    transition: 0.5s;
    width: 20rem;
  }

  .roadmap__phrase {
    font-size: 1.4rem;
  }

  .right {
    width: 60%;
  }

  .container.left {
    width: 50%;
    padding: 20px 30px 20px 0;
  }

  .content {
    font-size: 1.3rem;
  }

  .footer__content {
    font-size: 1.1rem;
    justify-content: space-between;
  }

  .footer__content__links {
    min-width: 10rem;
  }

  .footer__content__support {
    min-width: 10rem;
  }

  .footer__content__follow {
    min-width: 10rem;
  }
}

@media (max-width: 425px) {
  body {
    overflow-x: hidden;
  }

  .nav_logo > img {
    height: 10rem;
    width: 10rem;
  }
  .header__nav {
    display: flex;
    flex-direction: column;
    background-color: rgba(18, 35, 50, 0.64);
  }

  .nav__list {
    display: flex;
    flex-direction: column;
  }

  .list-items {
    margin-bottom: 1rem;
  }

  .btn-whitepaper {
    width: 30rem;
  }

  .nav__icons {
    display: none;
  }

  .btn-whitepaper {
    display: none;
  }

  .hero__description {
    text-align: center;
  }

  hr {
    margin-left: 30%;
  }

  .description__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__description-btnWhite {
    width: 30rem;
  }

  .hero__description-btnMore {
    margin: 10px 0;
    width: 30rem;
  }

  .header__hero__hero {
    display: none;
  }

  .project__content__fixtoken {
    width: 100%;
  }

  .app__content {
    display: flex;
    flex-direction: column;
  }

  .app__content__description {
    width: 100%;
  }

  .br {
    display: none;
  }

  .app__phones > img {
    display: none;
  }

  .token {
    padding: 20px 5rem 0 3rem;
    font-size: 1.2rem;
  }

  .token__info_sales {
    margin-left: -2rem;
  }

  .roadmap {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 0 0 0;
  }

  .roadmap__phrase {
    font-size: 1.2rem;
    width: 100%;
  }

  .container.right .content {
    padding: 0;
  }

  footer {
    padding-top: 20px;
  }

  .footer__content {
    margin-bottom: 20px;
    width: 200px;
  }

  .footer__content__follow > div {
    display: flex;
  }

  .footer__content__support {
    /* margin: 10px 0 10px 0; */
  }
}
